<.header>
  New Miner
  <:subtitle>Use this form to manage miner records in your database.</:subtitle>
</.header>

<.miner_form changeset={@changeset} action={~p"/miners"} />

<.back navigate={~p"/miners"}>Back to miners</.back>
